<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dushyantha.attendanceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AttendanceApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginMain" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPanelActivity"
            android:label="@string/title_activity_admin_panel1"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginViewActivity"
            android:label="@string/title_attendance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SelctionViewActivity"
            android:label="@string/title_attendance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FingerprintViewActivity"
            android:label="@string/title_attendance"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LectureActivity"
            android:label="@string/title_activity_lecture"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddUpdtStudentActivity"
            android:label="@string/title_add_updt_student"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DeleteStudentActivity"
            android:label="@string/title_delete_student"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewStudentActivity"
            android:label="@string/title_view_student"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddUpdtLectureActivity"
            android:label="@string/title_add_updt_lecture"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewLectureActivity"
            android:label="@string/title_view_lecture"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DeleteLectureActivity"
            android:label="@string/title_delete_lecture"
            android:theme="@style/AppTheme" />
    </application>

</manifest>